body {
  background-color: #b6b6b6;
}

.container:nth-child(1) {
  background-color: #562b81;
  color: white;
  padding-top: 1%;
  padding-bottom: 1%;
}

.text-space {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .text-space {
    flex-basis: 50%;
  }
}

input {
  width: 100%;
}

textarea {
  width: 100%;
}

button {
  background-color: #562b81;
  color: white;
  padding: 1%;
  margin-top: 3%;
  border-radius: 20%;
}

label {
  padding: 2%;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

.hidden {
  display: none;
}

#entries-anchor {
  color: white;
  text-decoration: none;
  font-size: x-large;
}

.button {
  display: inline-block;
  align-items: end;
  background-color: #562b81;
  color: white;
  border-radius: 4px;
  border: none;
  padding: 5px 10px;
  position: absolute;
  right: 70px;
  font-size: large;
  text-decoration: none;
}

.pencil {
  display: flex;
  justify-content: flex-end;
}
